body{
    background-color: #25c916;
}
p{
    color: blueviolet;
    font-size: 22px;
}
.cat{
    border-radius: 90px;
}
<<<<<<< HEAD
.ss{
    font-size: 30px;
    color: brown;
=======
hr{
    width: 50%;
>>>>>>> second
}